.App {
  text-align: center;
}

.App-header {
  background-color: #dde7ee;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 600;
  color: black;
}
